.footer
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > p
    width: 100%;
    text-align: center;
    a
      transition: color 0.3s ease;
      &:hover
        color: $link-color;
  .upyun
    display: flex;
    justify-content: center;
    align-items: center;
    & > * 
      margin-left: 5px;
      margin-right: 5px;
    img
      width: 50px;