.quote
  width: 100%;
  flexColumnCenter()
  position: relative;
  margin-bottom: 16px;
  padding: 32px 0;
  .quote-content
    letter-spacing: 1px;
    font-size: $font-size-large;
  i
    position: absolute;
    font-size: $font-size-icon;
    &:first-child
      top: 0;
      left: 16px;
    &:last-child
      bottom: 0;
      right: 16px;