.waline-wrapper
  card-page();
  width: 99%;
  margin: 0 auto;
  margin-top: 12px;
  padding: 12px;
  background-color: rgba(255,255,255,0.65);
  #waline
    background-color: rgba(255,255,255,0.65);
    & > *
      padding: 0 12px;
    .vwrap
      border: 0px !important;
      .vheader
        display: flex;
        justify-content: space-between;
        padding: 0 12px;
        & > *
          &:hover
            border-color: #000;
          width: 30%;
          border: 1px dashed #dedede;
          &:focus
            border-color: #000;
      .vedit
        padding: 12px;
        margin: 12px;
        position: relative;
        z-index: 1;
        &:hover
          &::after
            border: 1px dashed #000;
        &::after
          content: '';
          border: 1px dashed #dedede;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
        #veditor:focus + &::after
          background: blue;
        button
          color: #000;
          background: azure;
    .vcards 
      .vcontent
        img
          display: inline-block !important;
    .vempty
      display: none !important;





