<% if (post.categories && post.categories.length){ %>
  <span class="categories">
    <i class="icon icon-bookmark-empty"></i>
    <%= page.category %>
      <%- list_categories(post.categories, {
        show_count: false,
        class: 'category',
        style: 'none',
        separator: 'ã€'
      }) %>
  </span>
<% } %>