<% if (theme.leancloud.enable && theme.leancloud.counter.enable){ %>
  <span class="meta-hot">
    <i class="icon icon-fire"></i>
    <span class="leancloud_visitors" id="<%= url_for(post.path) %>" data-flag-title="<%= post.title %>">热度<span class="leancloud-visitors-count"></span>℃</span>
  </span>
<% } %>
