<div id="about">
  <div class="card">
      <%- partial('_partial/quote.ejs', {enable: theme.quotes.about.enable, quote: theme.quotes.about.quote}) %>
    <div class="content">
        关于
    </div>
  </div>
</div>