<div id="books">
  <div class="card">
      <%- partial('_partial/quote.ejs', {enable: theme.quotes.books.enable, quote: theme.quotes.books.quote}) %>
    <ul class="content">
      <li>书单</li>
    </ul>
  </div>

</div>