<div id="categories">
  <div class="card">
      <%- partial('_partial/quote.ejs', {enable: theme.quotes.categories.enable, quote: theme.quotes.categories.quote}) %>
    <ul class="content"></ul>
    <li>展示分类文章</li>
  </div>
</div>