//- 这是二层分类页面，含有该分类的文章，可分页

extends includes/layout.pug
include mixins/quote.pug
include mixins/postList.pug
include mixins/pagination.pug

block content
  .categories
    if theme.menu.categories.quote.enable
      +quote(theme.menu.categories.quote.content)
    .pjax-subsidiary-page
      .clean
        span= 'Category:'
        span.clean-btn
          // 手动模拟 返回
          a.pjax-subsidiary-link(href=url_for('/categories/'))= page.category
            i.icon-cancel-outline
      +postList(page.posts)
      +pagination('pjax-subsidiary-link')
    .pjax-subsidiary-loading.loading
      if theme.loadingImage
        img.loading-image(src=url_for(theme.loadingImage))