<div id="categories">
  <div class="card">
      <%- partial('_partial/quote.ejs', {enable: theme.quotes.categories.enable, quote: theme.quotes.categories.quote}) %>
    <ul class="content">
      <% if (site.categories.length === 0 ){ %>
        <li class="message"><span>暂无分类</span></li>
      <% } else { %>
        <%# 
          样式有点难弄，考虑自己封装一个类似辅助函数list_categories的模板文件
        %>
        <%- list_categories(site.categories, {
          show_count: false,
          class: 'category',
          style: 'none',
          separator: ' ',
          depth: 1
        }) %>
      <% } %>
    </ul>
  </div>
</div>