<div id="friends">
  <div class="card">
      <%- partial('_partial/quote.ejs', {enable: theme.quotes.friends.enable, quote: theme.quotes.friends.quote}) %>
    <ul class="content">
      <li>友链</li>
    </ul>
  </div>

</div>