extends includes/layout.pug

include mixins/quote.pug
include mixins/friendList.pug

block content
  .friends
    if theme.menu.friends.quote.enable
      +quote(theme.menu.friends.quote.content)
    if (page.introduction)
      .introduction
        each intro in page.introduction
          p!= intro
      +friendList(page.friends)

  if theme.gitalk.enable && page.comments
    include component/gitalk.pug 

