extends includes/layout.pug

include mixins/post.pug
include mixins/pagination.pug

block content
  .index
    .content
      each post in page.posts.data
        article
          .post-overview
            .post-header
              +post-image(post.imageUrl, theme.PostImage)
              .post-head
                if post.title
                  +post-title(3, post.title)
                if post.imageSource
                  +post-image-source(post.imageSource)
            if post.description
              .post-body
                +post-description(post.description)
            .post-meta
              if post.date
                +post-date(post.date)
              if post && theme.leancloud.enable
                +post-hot(post)
              if post.tags
                +post-tags(post.tags)
              if post.categories
                +post-categories(post.categories)
            a.post-link.pjax-main-link(href=url_for(post.path))

    +pagination('pjax-main-link')  


