<div id="moods">
  <div class="card">
      <%- partial('_partial/quote.ejs', {enable: theme.quotes.moods.enable, quote: theme.quotes.moods.quote}) %>
    <ul class="content">
      <li>心情</li>
    </ul>
  </div>
</div>