if page.type === '/'
  include index.pug
else if page.type === 'archive'
  include archive.pug
else if page.type === 'categories'
  include categories.pug
else if page.type === 'tags'
  include tags.pug
else if page.type === 'books'
  include books.pug
else if page.type === 'inspiration'
  include inspiration.pug
else if page.type === 'friends'
  include friends.pug
else if page.type === 'about'
  include about.pug