extends includes/layout.pug

include mixins/post.pug


block content
  - var post = page
  .post
    article.post-article
        .post-header
          +post-image(post.imageUrl, theme.PostImage)
          .post-head
            .post-title-wrapper
              if post.title
                +post-title(1, post.title)
              if post.imageSource
                +post-image-source(post.imageSource)
            .post-meta
              if post.date
                +post-date(post.date)
              if post && theme.leancloud.enable
                +post-hot(post)
              if post.tags
                +post-tags(post.tags)
              if post.categories
                +post-categories(post.categories)
        .post-content
          .markdown!= post.content
  if theme.gitalk.enable && page.comments
    include component/gitalk.pug 