<div id="tags">
    <div class="card">
        <%- partial('_partial/quote.ejs', {enable: theme.quotes.tags.enable, quote: theme.quotes.tags.quote}) %>
      <ul class="content">
        <% if (site.tags.length === 0 ){ %>
          <li class="message"><span>暂无标签</span></li>
        <% } else { %>
          <%- partial('_partial/tags-header.ejs') %>
        <% } %>
      </ul>
      <%- partial('_partial/archive.ejs', {posts: page.posts}) %>
    </div>
  </div>