<div id="tags">
  <div class="card">
      <%- partial('_partial/quote.ejs', {enable: theme.quotes.tags.enable, quote: theme.quotes.tags.quote}) %>
      <ul class="content"></ul>
      <li>展示标签文章</li>
  </div>
</div>