/* FadeInDown */
@keyframes fadeInDown
  0% 
    opacity: 0;
    transform: translateY(-10px);
  100%
    opacity: 1;
    transform: translateY(0%);

/* FadeInDown */
@keyframes fadeInDownSP
  0%
    opacity: 0;
    transform: translateY(-20px);
  100%
    opacity: 1;
    transform: translateY(-10px);

/* FadeIn */
@keyframes fadeIn
  0%
    opacity: 0;
    transform: scale(0.86);
  100%
    opacity: 1;
    transform: scale(1);

/* float */
@keyframes float
  0%
    transform: translateY(0)
  50%
    transform: translateY(-6px)
  100%
    transform: translateY(0)

/* 文字跑马灯 */
@keyframes textclip
  100%
    background-position: 200% center;

/** 封面图动画 */
@keyframes coverDown
  0%
    opacity: 0.6;
    transform: translateY(-6px);
  100%
    opacity: 1;
    transform: translateY(0px);