#categories
  .content
    .message
      margin-top: .8rem;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      span
        padding: 0.04rem 0.1rem;
        border-radius: 3px;
        background: rgba(0, 0, 0, .5);
        transition: all 0.25s ease-out;
        font-size: 18px;
        color: #2EA9DF
      &:hover > span
        color: #fff
    