.friends
  .content
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    li
      position: relative;
      overflow: hidden;
      border-radius: 3px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.24);
      width: 24%;
      height: 1.12rem;
      margin: 0 0.5%;
      margin-bottom: 0.16rem;
      @media (max-width: 800px)
        &
          width: 32%
          height: 1.4rem
          margin: 0.666%
      @media (max-width: 600px)
        &
          width: 46%
          height: 1.6rem
          margin: 2%
      a
        width: 100%;
        height 100%;
        display: block;
        cursor: url('../images/cursor.png'), auto;
        &:hover
          .site-img
            transform: scale(1.06);
          .site-info
            transform: translateY(-100%);
            span
              color: #986db2;
        .site-img
          width: 100%;
          height: 100%;
          background-size: cover;
          transition: transform 0.6s ease-out;
        .site-info
          flexCenter()
          flex-direction: column;
          positionCoverFather()
          background-color: rgba(255, 255, 255, 0.4);
          transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
          .avator
            margin-bottom: -0.16rem;
            width: 0.5rem;
            height 0.5rem;
            background-color: rgba(255, 255, 255, 0.8);
            background-size: cover;
            border-radius: 50%;
            box-shadow: 0 0 9px #666;
          .name
            padding: 0.2rem 0 0.08rem;
            width: 100%;
            text-align: center;
            box-shadow: 0 0 6px #999;
            background-color: rgba(255, 255, 255, 0.66);



