/* 这个文件不直接引入main中，并且不放入 css/_partial
* 而是独立出来，由 gitalk.ejs 引用
*/
#gitalk
  .gt-container
    text-align: left
    a
      color: #b854d4
      border-bottom: none
    .gt-svg svg
      fill: #b854d4
    .gt-comment-date,
    .gt-container .gt-comment-text
      color: #666
    .gt-ico-text
      color: #b854d4
    .gt-btn-login
      margin-top: 0
      border: none
      background-color: #986db2 !important
      span
        line-height: 1
        color: #fff
  .gt-meta
    border-bottom: 1px solid rgba(255, 255, 255, 0.4)
    .gt-counts
      float: left
    .gt-popup
      margin-top: 0.1rem
      .is--active::before
        background: #b854d4
  .gt-header
    textarea,
    .gt-header-preview
      border: none
      min-height: 1rem
      max-height: 2rem
      background-color: rgba(255, 255, 255, 0.66)
      background-image: url(https://i.loli.net/2018/12/09/5c0cc2b905841.png)
      background-size: 1.2rem
      background-repeat: no-repeat
      background-position: 99% bottom
    .gt-header-controls-tip
      float: left
    .gt-btn
      border: none
      background-color: rgba(255, 255, 255, 0.66)
    .gt-btn-public
      background-color: #986db2
      span
        color: #fff
    .gt-avatar-github
      svg
        fill: #986db2
  .gt-comments
    .gt-comment-content
      border-radius: 3px
      background-color: rgba(255, 255, 255, 0.66)
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.24)
      transition: all 0.25s ease 0s, transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s
      &:hover
        transform: translateY(-4px)
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.24)
    .gt-btn-loadmore
      border: none
      background-color: #986db2
      span
        color: #fff
    .gt-comment-body
      max-height: 6rem
      overflow: auto
  textarea,
  .gt-btn-login,
  .gt-btn-preview,
  .gt-btn-loadmore,
  .gt-btn-public,
  .gt-avatar
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.24)
  
