#home
  width: 100%
  .main
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  article
    display: flex
    flex-direction: column
    margin-bottom: 0.16rem
    width: 49.2%
    text-align: left
    transition: all 0.25s ease 0s, transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s
    position relative
    /* 链接覆盖在文章上，点击跳转文章 */
    & > a
      position absolute
      z-index: 1
      top: 0
      left 0
      width: 100%
      height: 100%
      cursor: url('../images/cursor.png'), auto
    &:hover
      transform: translateY(-6px)
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.24)
      .img-wrapper, img
        transform: scale(1.06)
    .post-header
      position: relative
      font-size: 0.15rem
      overflow: hidden
      .img-wrapper
        width: 100%
        padding-top: 56%
        background-color: rgba(233, 224, 207,0.66)
        background-size: cover
        background-repeat: no-repeat
        position relative
        transition: transform 0.6s ease-out
        img
          position absolute
          top: 0
          left 0
          width: 100%
          height: 100%
          transition: transform 0.6s ease-out
    .post-body
      flex: 1
      .title
        padding: 0.12rem 0.14rem
        font-weight: normal
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 2
        font-size: 0.18rem
        font-weight: 400
        line-height: 1.6
        text-align: justify
        text-overflow: ellipsis
        overflow: hidden
    .post-meta
      display: flex
      padding: 0.12rem 0.1rem
      font-size: 0.14rem
      border-top: 1px solid rgba(0, 0, 0, 0.08)
      & > span
        display: flex
        justify-content: left
        margin-right: 0.06rem
        align-items: center
        white-space:nowrap
        text-overflow:ellipsis
        overflow:hidden
        & > a
          text-overflow:ellipsis
        .icon
          margin-right: 4px
        &.calendar
          width: 24%
          flex-basis: 24%
          flex-shrink: 0
        &.categories
          flex: 3
        &.tags
          flex: 4
  @media (max-width: 900px)
    .main
      justify-content: space-around
      article
        margin-bottom: 0.32rem
        width: 98%

    
  
