/* 滚动条 */
custom-scroll()
  ::-webkit-scrollbar
    width: 5px;
    height: 5px;
    background-color: transparent;
  ::-webkit-scrollbar-thumb
    border-radius: 3px;
    background-color: #986db2;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent
    );
  ::-webkit-scrollbar-track
    background-color: #e2dfdf;

/* 字体 */
fonts()
  font-family: 'Noto Serif SC', 'Helvetica', 'PingFang SC', serif !important;

/* 居中 主轴水平 */
flexCenter()
  display: flex;
  justify-content: center;
  align-items: center;

/* 居中 主轴竖直 */
flexColumnCenter()
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

/* 绝对定位 覆盖父元素
*/
positionCoverFather($zIndex=0)
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $zIndex;

/* hover 的时候字体颜色改变
传入一个颜色，默认颜色为 #b854d4;
*/
hoverChange($color=#b854d4)
  &
    transition: color 0.25s ease-in-out;
  &:hover
    color: $color;
  
/* 单行超出省略 */
ellipsis()
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;