@import 'mixin'
*
  margin: 0
  padding: 0
  box-sizing: border-box
  color: #555

::selection
  color: #fff
  background: #b28fce

html
  height: 100%
  min-width: 375px
body
  min-height: 100%
  font-family: 'Helvetica', 'PingFang SC', serif
  font-size: 0.15rem
  letter-spacing: 0.4px
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2)
  user-select: none
  scroll-behavior: smooth
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  cursor: url('../images/cursor.png'), auto
h2,
h3,
h4
  color: #666
img
  display: block
a
  color: inherit
  text-decoration: none

a,
button,
span[class*='img-box'],
.cursor
  cursor: url('../images/cursor_link.png'), auto

ul, li
  list-style: none

@font-face
  font-family: GuDianMingChaoTi
  font-weight: bold
  src: url('../fonts/HanYiXueFengTiFan.ttf')