.tags
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  .content
    flex: 1;
    position: relative;
    .layout-content
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0.16rem;
      .message
        margin-top: .8rem;
        width: 100%;
        flexCenter()
        span
          color: #B28FCE
        &:hover > span
          color: #fff
      li
        display: flex;
        margin: 0.1rem 0.12rem;
        span
          padding: 0.04rem 0.1rem;
          border-radius: 3px;
          background: rgba(0, 0, 0, .5);
          transition: all 0.25s ease-out;
          font-size: 18px;
          a
            cursor: url('../images/cursor.png'), auto;
          &:hover
            background: rgba(0, 0, 0, 0.3);
            a
              color: #fff;
