if page.total > 1
  .pagination
    .pagination-content
      if page.prev
        li.prev
          a.prev-link.pjax-main-link(href=url_for(page.prev_link)) Prev
          .rect
      if page.next
       li.next
          a.next-link.pjax-main-link(href=url_for(page.next_link)) Next
          .rect

