<% if (page.total > 1){ %>
  <div class="pagination">
    <% if (page.prev) { %>
      <li class="prev">
        <a href="<%- url_for(page.prev_link) %>">Previous</a>
        <div class="rect"></div>
      </li>
    <% } %>
    <% if (page.next) { %>
      <li class="next">
        <a href="<%- url_for(page.next_link) %>">Next</a>
        <div class="rect"></div>
      </li>
    <% } %>

  </div>
<% } %>