<% if(theme.quotes.enable){ %>
  <% if(enable && quote) {%>
    <div class="quote">
        <i class="icon icon-quote-left"></i><span><%= quote %></span> <i class="icon icon-quote-right"></i>
      </div>
  <% } %>
<% } %>