.tags
  width:100%;
  min-height: 100%;
  card-page();
  padding: 16px;

  // 二级分类页面 返回一级分类页面的 按钮样式 
  .clean
    text-align: left;
    margin-bottom: 16px;
    vertical-align: middle;
    .clean-btn
      margin-left: 12px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 3px;
      background-color: $bg-dark;
      transition: all 0.3s ease-out;
      color: $link-color;
      &:hover
        background-color: $bg-dark-dim;
      a
        display: inline-block;
        padding: 0 10px;
        i
          margin-left: 4px;
