#footer
  position: absolute
  bottom: 0
  margin: 0.5rem auto 0
  width: 100%
  .site-info
    padding-bottom: 0.1rem
    text-align: center
    a
      transition: color 0.25s ease-out
      &:hover
        color: #b854d4
    .icon-heart
      margin-left: 5px
    
  

