.header
  width: 100%;
  flexCenter()
  .inner
    flexColumnCenter()
    overflow: hidden;
    .title, .subtitle
      font-family: GuDianMingChaoTi;
    .title
      font-size: 0.52rem;
      line-height: 0.6rem;
      letter-spacing: 2px;
      transition: color 0.25s ease-in-out;
      &:hover
        color: #b854d4;
    .subtitle
      font-size: 0.22rem;
      line-height: 0.32rem;
      letter-spacing: 4px;
    ul
      flexCenter()
      margin-top: 0.16rem;
      padding: 0 0.32rem;
      height: 0.6rem;
      background: rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
      li
        width: 0.6rem;
        font-size: 0.16rem;
        height: 86%;
        transition: color 0.25s ease-in-out;
        &:hover
          color: #b854d4;
          & > a > span
            color: #b854d4;
        a
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          height: 100%;
          transition: color 0.25s ease-in-out;
          & > span
            transition: color 0.25s ease-in-out;
    @media (max-width: 900px)
      ul
        height: 0.65rem;
        li
          width: 0.8rem;
    @media (max-width: 375px)
      ul
        height: 0.8rem;
