.pagination
  position: relative
  width: 100%
  z-index: 99
  display: flex
  justify-content: center
  align-items: center
  margin: .3rem 0
  .container
    width: 2.4rem
    display: flex
    justify-content: center
    .prev, .next
      width: 1.0rem
      height: .5rem
      margin: 0 0.2rem
      position relative
      display: flex
      justify-content: center
      align-items: center
      font-size: 0.16rem
      line-height: 0.4rem 
      background #fff
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.24)
      transition: all 0.25s ease-out
      text-shadow: 0 1px 1px #b28fce
      .rect
        position: absolute
        top: -8px
        left -8px
        bottom: -8px
        right -8px
        z-index: -1
        border: 2px solid #fff
        background: transparent
      a
        position: absolute
        z-index: 1
        top: 0
        left 0
        width: 100%
        height: 100%
        background: #fff
        display: flex
        justify-content: center
        align-items: center
        &::before
          content: ''
          position absolute
          z-index: -1
          top: 0
          left: 0
          width: 100%
          height 100%
          background: rgba(152, 109, 178, 0.66)
          color: #fff
          display: flex
          justify-content: center
          align-items: center
          transform: scaleX(0)
          transition: all 0.25s ease-out
      &:hover
        &.prev
          transform: translate(0, 2px)
        &.next
          transform: translate(0, 2px)
        & a
          color: #fff
          &::before
            transform: scaleX(1)
        & .rect
          border-color: #b28fce
    .prev
      a
        &::before
          transform-origin: bottom right
    .next
    a
      &::before
         transform-origin: bottom left