.short-post
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.16rem;
  li
    position: relative;
    margin-bottom: 0.16rem;
    width: 48.4%;
    border-top: 2px solid currentColor;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
    background-color: rgba(255, 255, 255, 0.4);
    transition: all 0.25s ease 0s, transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
    &:hover
      transform: translateY(-4px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.24);
    & > a
      positionCoverFather(1)
    h1
      padding: 0.12rem 0.14rem;
      line-height: 2;
      font-size: 0.16rem;
      text-align: justify;
    .post-meta
      display: flex;
      padding: 0.12rem 0.1rem;
      font-size: 0.14rem;
      border-top: 1px solid rgba(0, 0, 0, 0.08);
      & > span
        display: flex;
        justify-content: left;
        align-items: center;
        margin-right: 0.06rem;
        ellipsis()
        & > a
          text-overflow:ellipsis
        .icon
          margin-right: 4px
        &.meta-calendar
          width: 30%
          flex-basis: 30%
          flex-shrink: 0
        &.meta-categories
          flex: 3
        &.meta-tags
          flex: 4
  li.empty
    margin-bottom: 0;
    height: 0;
    border-top: none
  @media (max-width: 900px)
    li
      width: 98%;

